TestAutomationPractice/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
TestAutomationPractice/bin/Debug/netcoreapp3.1/TestAutomationPractice.dll
TestAutomationPractice/bin/Debug/netcoreapp3.1/TestAutomationPractice.pdb
TestAutomationPractice/obj/Debug/netcoreapp3.1/TestAutomationPractice.csproj.CoreCompileInputs.cache
TestAutomationPractice/obj/Debug/netcoreapp3.1/TestAutomationPractice.csproj.FileListAbsolute.txt
TestAutomationPractice/obj/Debug/netcoreapp3.1/TestAutomationPractice.dll
TestAutomationPractice/obj/Debug/netcoreapp3.1/TestAutomationPractice.pdb
